/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============== /COMMON STYLES ============== */

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

/* ============== HEADER MOBILE STYLES ============== */
.menu,
.contacts {
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-nav {
  padding: 24px 0;
}

.logotype-span-studio {
  color: #2e2f42;
}

.mobile-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
/* ============== /HEADER MOBILE STYLES ============== */

/* ===============  MAX MOBILE  ================== */
@media screen and (max-width: 768px) {
  /* ============== HEADER max MOBILE STYLES ============== */
  /* ====== BURGER FORM ====== */
  .mobile-burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #efd2d2;
    transform: translateX(100%);
    transition: transform 250ms linear;
    display: flex;
  }

  /* .mobile-burger-menu.is-open {
    transform: translateX(0%);
  } */

  .mobile-burger-conteiner {
    position: fixed;
    flex-direction: column;
    width: 100%;
    padding: 72px 24px 40px 16px;
  }

  .burger-links {
    color: #2e2f42;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .menu-burger-list-item {
    margin-bottom: 40px;
  }

  .contacts-burger-list {
    margin-top: auto;
  }

  .contacts-burger-list-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .contacts-burger-item-link:hover,
  .contacts-burger-item-link:focus {
    color: #4d5ae5;
  }

  .burger-links:hover,
  .burger-links:focus {
    color: #4d5ae5;
  }

  .burger-social-links {
    margin-top: 48px;
    display: flex;
    gap: 40px;
  }

  .close-burger {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .close-burger:hover,
  .close-burger:focus {
    background-color: #404bbf;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link {
    color: #2e2f42;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* ====== /BURGER FORM ====== */
  /* ============== /HEADER max MOBILE STYLES ============== */

  /* ============== Team Dream max Mobile STYLES ============== */
  .team-dream-item {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
  }
  /* ============== /Team Dream max Mobile STYLES ============== */
  /* ===============  /MAX MOBILE  ================== */
}
/* ===============  MAX TABLET  ================== */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  /* ============== Benefits max Tablet STYLES ============== */
  .benefits-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .benefits-item-text {
    width: 356px;
  }

  .benefits-item-list {
    width: calc((100%-24px) / 2);
  }
  /* ============== Benefits max Tablet STYLES ============== */
  /* ============== Team Dream max Tablet STYLES ============== */
  .team-dream {
    padding: 96px 0;
  }

  .team-dream-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }

  .team-dream-item-list {
    width: calc((100%-24px) / 2);
  }
  /* ============== Team Dream max Tablet STYLES ============== */
}
/* ===============  MAX TABLET  ================== */

/* ============== Hero MOBILE STYLES ============== */
.hero {
  padding: 72px 0;
  background-color: #2e2f42;
}

.background-img {
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .background-img {
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.order-btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.64px;
  font-family: 'Roboto', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

/* ============== /Hero MOBILE STYLES ============== */
/* ============== Benefits MOBILE STYLES ============== */
.benefits-icon-list {
  display: none;
}

.benefits-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 72px;
}

.benefits {
  padding: 96px 0;
}

.benefits-list-header {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefits-item-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============== /Benefits MOBILE STYLES ============== */
/* ============== Team Dream MOBILE STYLES ============== */
.team-dream {
  background-color: #f4f4fd;
}

.team-dream {
  padding: 96px 0;
}

.team-list-item {
  padding: 32px 0;
  background-color: #ffffff;
}

.team-dream-item-list {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-dream-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-dream-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  margin-bottom: 8px;
  text-align: center;
}

.team-dream-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-dream-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-dream-links:hover,
.team-dream-links:focus {
  background-color: #404bbf;
}

.team-dream-icon {
  fill: #f4f4fd;
}
/* ============== /Team Dream MOBILE STYLES ============== */

/* ============== HEADER tablet STYLES ============== */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .menu {
    display: flex;
    column-gap: 40px;
  }

  .logotype-span-studio {
    margin-right: 106px;
  }
  .page-header {
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .contacts {
    display: inline;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
  }

  .contacts-item-link {
    color: #434455;
  }

  .contacts-item-link:hover,
  .contacts-item-link:focus {
    color: #404bbf;
  }

  .mobile-burger-menu {
    display: none;
  }

  .mobile-open-btn {
    display: none;
  }

  .menu-link {
    color: #2e2f42;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .active {
    position: relative;
    color: #404bbf;
  }
  .active::after {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: #404bbf;
    border-radius: 2px;
    bottom: -1px;
    display: block;
    content: '';
  }

  .header-link {
    padding: 24px 0;
  }
  /* ============== /HEADER tablet STYLES ============== */

  /* ============== HEro tablet STYLES ============== */
  .hero {
    padding: 112px 0;
  }
  /* ============== /HEro tablet STYLES ============== */
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
  }

  /* ============== HEADER DESCTOP STYLES ============== */
  .contacts-list {
    display: flex;
    gap: 40px;
  }
  /* ============== /HEADER DECKTOP STYLES ============== */
  /* =============== HEro DECKTOP STYLES ================ */
  .hero {
    padding: 188px 0;
  }
  /* =============== /HEro DECKTOP STYLES =============== */
  /* =============== Benefits DECKTOP STYLES =============== */
  .benefits {
    padding: 120px 0;
  }

  .benefits-item {
    display: flex;
    gap: 24px;
  }

  .benefits-item-list {
    width: calc((100% - 72px) / 4);
  }

  .benefits-icon-list {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
  }

  .benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    height: 112px;
    margin-bottom: 8px;
  }
  /* =============== /Benefits DECKTOP STYLES =============== */
  /* ============== Team Dream DECKTOP STYLES ============== */
  .team-dream {
    padding: 120px 0;
  }

  .team-dream-item {
    display: flex;
    gap: 24px;
  }

  /* ============== Team Dream DECKTOP STYLES ============== */
}
